# Now it is time to build our dataset that has a "resource number" for each neighborhood

In [1]:
# First, let us load in our data for our resources
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pathlib import Path
print("libraries imported!")

libraries imported!

In [14]:
# let's take a look at our current dataset
# first we set the path to our files:
# you'll need to edit this for your system
#"C:\Users\steph\local\oit-class\project-files\datasets\processed\211_Info_Data_latlong_hoods_all-csv.csv"
base_dir = Path("C:/Users/Steph/local/OIT-class/project-files/datasets/processed")
df = pd.read_csv(base_dir / "211_Info_Data_latlong_hoods_all-csv.csv")
# The "head" command will show us an excel-style display of our data with the columns across the top and the first four rows.
# "df" stands for "dataframe" and you'll see it's a very common generic variable name used in these cases.
df.head()

,Resource Name,Address,Zip,hours,library,open,temporary_shelter,day_center,coord_reentry,group_therapy,...,Latitude,Longitude,Address_clean,Zip_clean,ADDRESS_clean,ZIP_clean,match_method,match_score,match_method_display,neighborhood
0,Albina Library,205 NE Russell Street,97212,TBD,1,1,0,0,0,0,...,45.541366,-122.663134,205 NE RUSSELL STREET,97212,205 NE RUSSELL STREET,97212.0,exact,NaN,exact,Eliot
1,Capitol Hill Library,10723 SW Capitol Highway,97219,TBD,1,1,0,0,0,0,...,45.448042,-122.725430,10723 SW CAPITOL HIGHWAY,97219,NaN,NaN,fuzzy,90.909091,fuzzy (90.9%),West Portland Park
2,Central Library,801 SW 10th Avenue,97205,TBD,1,1,0,0,0,0,...,45.519056,-122.682257,801 SW 10TH AVENUE,97205,801 SW 10TH AVENUE,97205.0,exact,NaN,exact,Portland Downtown
3,Gregory Heights Library,7921 NE Sandy Boulevard,97213,TBD,1,1,0,0,0,0,...,45.551800,-122.581373,7921 NE SANDY BOULEVARD,97213,NaN,NaN,none,NaN,none,Roseway
4,Hillsdale Library,1525 SW Sunset Boulevard,97239,TBD,1,1,0,0,0,0,...,45.479906,-122.694098,1525 SW SUNSET BOULEVARD,97239,NaN,NaN,none,NaN,none,Hillsdale

Data loaded.  Let's examine what we have here:
- Ugh, the Zip has a decimal again.  To use this properly I need to go back and clean it, but I'm not going to do that now.
- - we're going to ignore zip codes for now and just do neighborhoods
- Libraries exist, but some of them are closed.
- - We should calculate "library" as a resource, but only if it is open
- Our other resources should be integers, not floats.  That also needs to be fixed
- - but we are going to ignore it for now.

### What I want to do for now, is simply sum our resource columns up to one number that we'll use for now

In [11]:
# ok, I forgot to compile into neighborhood
# taking a break
# ok, I can get a calculated "resource value" for each resource
# then I can compile that into one dataframe which compiles it for the neighborhoods
# I have also discovered that line breaks in the hours & descriptions fields is causing a problem
# and there's extra rows at the end
# so I'm correcting all that manually in excel
# then cut 'n' pasta into a fresh excel file THEN saving to csv.  Maybe this will work

In [15]:
df.tail()

,Resource Name,Address,Zip,hours,library,open,temporary_shelter,day_center,coord_reentry,group_therapy,...,Latitude,Longitude,Address_clean,Zip_clean,ADDRESS_clean,ZIP_clean,match_method,match_score,match_method_display,neighborhood
58,Pathfinder Network,10373 NE Hancock Street,97220,Monday-Friday 8:30am-7pm,0,1,0,0,0,1,...,45.536483,-122.555872,10373 NE HANCOCK STREET,97220,10373 NE HANCOCK STREET,97220.0,exact,NaN,exact,Parkrose Heights
59,Cascadia Health,6200 SE King Road,97222,Varies by service,0,1,0,0,0,1,...,45.447690,-122.598667,6200 SE KING ROAD,97222,6200 SE KING ROAD,97222.0,exact,NaN,exact,Mt. Scott-Arleta neighborhood
60,Northwest Family Services,3231 SE 50th Avenue,97206,"Monday-Thursday 8am-6pm, Friday 8am-5pm",0,1,0,0,0,1,...,45.499165,-122.611524,3231 SE 50TH AVENUE,97206,3231 SE 50TH AVENUE,97206.0,exact,NaN,exact,Richmond
61,Quest Center For Integrative Health,12636 SE Stark Street,97233,Monday-Friday 8:30am-5pm,0,1,0,0,0,1,...,45.518837,-122.533478,12636 SE STARK STREET,97233,12636 SE STARK STREET,97233.0,exact,NaN,exact,Mill Park
62,Lifestance Health,12636 SE Stark Street,97233,Monday-Friday 8:30am-5pm,0,1,0,0,0,1,...,45.518837,-122.533478,12636 SE STARK STREET,97233,12636 SE STARK STREET,97233.0,exact,NaN,exact,Mill Park

In [16]:
df

,Resource Name,Address,Zip,hours,library,open,temporary_shelter,day_center,coord_reentry,group_therapy,...,Latitude,Longitude,Address_clean,Zip_clean,ADDRESS_clean,ZIP_clean,match_method,match_score,match_method_display,neighborhood
0,Albina Library,205 NE Russell Street,97212,TBD,1,1,0,0,0,0,...,45.541366,-122.663134,205 NE RUSSELL STREET,97212,205 NE RUSSELL STREET,97212.0,exact,NaN,exact,Eliot
1,Capitol Hill Library,10723 SW Capitol Highway,97219,TBD,1,1,0,0,0,0,...,45.448042,-122.725430,10723 SW CAPITOL HIGHWAY,97219,NaN,NaN,fuzzy,90.909091,fuzzy (90.9%),West Portland Park
2,Central Library,801 SW 10th Avenue,97205,TBD,1,1,0,0,0,0,...,45.519056,-122.682257,801 SW 10TH AVENUE,97205,801 SW 10TH AVENUE,97205.0,exact,NaN,exact,Portland Downtown
3,Gregory Heights Library,7921 NE Sandy Boulevard,97213,TBD,1,1,0,0,0,0,...,45.551800,-122.581373,7921 NE SANDY BOULEVARD,97213,NaN,NaN,none,NaN,none,Roseway
4,Hillsdale Library,1525 SW Sunset Boulevard,97239,TBD,1,1,0,0,0,0,...,45.479906,-122.694098,1525 SW SUNSET BOULEVARD,97239,NaN,NaN,none,NaN,none,Hillsdale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Pathfinder Network,10373 NE Hancock Street,97220,Monday-Friday 8:30am-7pm,0,1,0,0,0,1,...,45.536483,-122.555872,10373 NE HANCOCK STREET,97220,10373 NE HANCOCK STREET,97220.0,exact,NaN,exact,Parkrose Heights
59,Cascadia Health,6200 SE King Road,97222,Varies by service,0,1,0,0,0,1,...,45.447690,-122.598667,6200 SE KING ROAD,97222,6200 SE KING ROAD,97222.0,exact,NaN,exact,Mt. Scott-Arleta neighborhood
60,Northwest Family Services,3231 SE 50th Avenue,97206,"Monday-Thursday 8am-6pm, Friday 8am-5pm",0,1,0,0,0,1,...,45.499165,-122.611524,3231 SE 50TH AVENUE,97206,3231 SE 50TH AVENUE,97206.0,exact,NaN,exact,Richmond
61,Quest Center For Integrative Health,12636 SE Stark Street,97233,Monday-Friday 8:30am-5pm,0,1,0,0,0,1,...,45.518837,-122.533478,12636 SE STARK STREET,97233,12636 SE STARK STREET,97233.0,exact,NaN,exact,Mill Park
62,Lifestance Health,12636 SE Stark Street,97233,Monday-Friday 8:30am-5pm,0,1,0,0,0,1,...,45.518837,-122.533478,12636 SE STARK STREET,97233,12636 SE STARK STREET,97233.0,exact,NaN,exact,Mill Park

In [4]:
# let's get a human readable list of our columns
headers = ", ".join(map(str, df.columns))
print(headers)

Resource Name, Address, Zip, hours, library, open, temporary_shelter, day_center, coord_reentry, group_therapy, showers, meals, food_box, laundry, health_services, misc_services, description, URL, full_address, Latitude, Longitude, Address_clean, Zip_clean, ADDRESS_clean, ZIP_clean, match_method, match_score, match_method_display, neighborhood

In [17]:
# first let's sum all the resources except libraries
resource_cols = [
    "temporary_shelter", "day_center", "coord_reentry", "group_therapy",
    "showers", "meals", "food_box", "laundry", "health_services", "misc_services"
]

yn_map = {"yes": 1, "y": 1, "true": 1, "t": 1, "no": 0, "n": 0, "false": 0, "f": 0}
df[resource_cols] = (df[resource_cols]
    .apply(lambda s: s.str.lower().map(yn_map) if s.dtype == "object" else s)
    .apply(pd.to_numeric, errors="coerce")
    .fillna(0))

df["resource_calc-nolib"] = df[resource_cols].sum(axis=1).astype(int)

df

,Resource Name,Address,Zip,hours,library,open,temporary_shelter,day_center,coord_reentry,group_therapy,...,Longitude,Address_clean,Zip_clean,ADDRESS_clean,ZIP_clean,match_method,match_score,match_method_display,neighborhood,resource_calc-nolib
0,Albina Library,205 NE Russell Street,97212,TBD,1,1,0,0,0,0,...,-122.663134,205 NE RUSSELL STREET,97212,205 NE RUSSELL STREET,97212.0,exact,NaN,exact,Eliot,0
1,Capitol Hill Library,10723 SW Capitol Highway,97219,TBD,1,1,0,0,0,0,...,-122.725430,10723 SW CAPITOL HIGHWAY,97219,NaN,NaN,fuzzy,90.909091,fuzzy (90.9%),West Portland Park,0
2,Central Library,801 SW 10th Avenue,97205,TBD,1,1,0,0,0,0,...,-122.682257,801 SW 10TH AVENUE,97205,801 SW 10TH AVENUE,97205.0,exact,NaN,exact,Portland Downtown,0
3,Gregory Heights Library,7921 NE Sandy Boulevard,97213,TBD,1,1,0,0,0,0,...,-122.581373,7921 NE SANDY BOULEVARD,97213,NaN,NaN,none,NaN,none,Roseway,0
4,Hillsdale Library,1525 SW Sunset Boulevard,97239,TBD,1,1,0,0,0,0,...,-122.694098,1525 SW SUNSET BOULEVARD,97239,NaN,NaN,none,NaN,none,Hillsdale,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Pathfinder Network,10373 NE Hancock Street,97220,Monday-Friday 8:30am-7pm,0,1,0,0,0,1,...,-122.555872,10373 NE HANCOCK STREET,97220,10373 NE HANCOCK STREET,97220.0,exact,NaN,exact,Parkrose Heights,2
59,Cascadia Health,6200 SE King Road,97222,Varies by service,0,1,0,0,0,1,...,-122.598667,6200 SE KING ROAD,97222,6200 SE KING ROAD,97222.0,exact,NaN,exact,Mt. Scott-Arleta neighborhood,1
60,Northwest Family Services,3231 SE 50th Avenue,97206,"Monday-Thursday 8am-6pm, Friday 8am-5pm",0,1,0,0,0,1,...,-122.611524,3231 SE 50TH AVENUE,97206,3231 SE 50TH AVENUE,97206.0,exact,NaN,exact,Richmond,1
61,Quest Center For Integrative Health,12636 SE Stark Street,97233,Monday-Friday 8:30am-5pm,0,1,0,0,0,1,...,-122.533478,12636 SE STARK STREET,97233,12636 SE STARK STREET,97233.0,exact,NaN,exact,Mill Park,1
62,Lifestance Health,12636 SE Stark Street,97233,Monday-Friday 8:30am-5pm,0,1,0,0,0,1,...,-122.533478,12636 SE STARK STREET,97233,12636 SE STARK STREET,97233.0,exact,NaN,exact,Mill Park,1

In [18]:
# now we create resource_calc_total which adds one to our resource score if there is a library and it is currently open

import numpy as np

df["resource_calc_total"] = df["resource_calc-nolib"] + (
    ((df["library"] > 0) & (df["open"] > 0)).astype(int)
)

df

,Resource Name,Address,Zip,hours,library,open,temporary_shelter,day_center,coord_reentry,group_therapy,...,Address_clean,Zip_clean,ADDRESS_clean,ZIP_clean,match_method,match_score,match_method_display,neighborhood,resource_calc-nolib,resource_calc_total
0,Albina Library,205 NE Russell Street,97212,TBD,1,1,0,0,0,0,...,205 NE RUSSELL STREET,97212,205 NE RUSSELL STREET,97212.0,exact,NaN,exact,Eliot,0,1
1,Capitol Hill Library,10723 SW Capitol Highway,97219,TBD,1,1,0,0,0,0,...,10723 SW CAPITOL HIGHWAY,97219,NaN,NaN,fuzzy,90.909091,fuzzy (90.9%),West Portland Park,0,1
2,Central Library,801 SW 10th Avenue,97205,TBD,1,1,0,0,0,0,...,801 SW 10TH AVENUE,97205,801 SW 10TH AVENUE,97205.0,exact,NaN,exact,Portland Downtown,0,1
3,Gregory Heights Library,7921 NE Sandy Boulevard,97213,TBD,1,1,0,0,0,0,...,7921 NE SANDY BOULEVARD,97213,NaN,NaN,none,NaN,none,Roseway,0,1
4,Hillsdale Library,1525 SW Sunset Boulevard,97239,TBD,1,1,0,0,0,0,...,1525 SW SUNSET BOULEVARD,97239,NaN,NaN,none,NaN,none,Hillsdale,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Pathfinder Network,10373 NE Hancock Street,97220,Monday-Friday 8:30am-7pm,0,1,0,0,0,1,...,10373 NE HANCOCK STREET,97220,10373 NE HANCOCK STREET,97220.0,exact,NaN,exact,Parkrose Heights,2,2
59,Cascadia Health,6200 SE King Road,97222,Varies by service,0,1,0,0,0,1,...,6200 SE KING ROAD,97222,6200 SE KING ROAD,97222.0,exact,NaN,exact,Mt. Scott-Arleta neighborhood,1,1
60,Northwest Family Services,3231 SE 50th Avenue,97206,"Monday-Thursday 8am-6pm, Friday 8am-5pm",0,1,0,0,0,1,...,3231 SE 50TH AVENUE,97206,3231 SE 50TH AVENUE,97206.0,exact,NaN,exact,Richmond,1,1
61,Quest Center For Integrative Health,12636 SE Stark Street,97233,Monday-Friday 8:30am-5pm,0,1,0,0,0,1,...,12636 SE STARK STREET,97233,12636 SE STARK STREET,97233.0,exact,NaN,exact,Mill Park,1,1
62,Lifestance Health,12636 SE Stark Street,97233,Monday-Friday 8:30am-5pm,0,1,0,0,0,1,...,12636 SE STARK STREET,97233,12636 SE STARK STREET,97233.0,exact,NaN,exact,Mill Park,1,1

## I'm making another change.  The library exists and is open fields are a pain.  I'm changing these to be:
## library = 1 if it's a library, library_open = 1 if it is open
## filename: 211_Info_Data_latlong_hood-neighborhood-fix.xlsx
### exported to the same file as we've been using: 211_Info_Data_latlong_hoods_all-csv.csv

## so far, that seems to be right.  now let's create a new dataframe
### rather than add up a value for each resource, let's just add them up for neighborhood
Prompt:
We read in our 211_Info_Data_latlong_hoods_all-csv.csv into a dataframe called df_start. Create a new dataframe named df_hoods from this file.  Create a record for each unique value in "neighborhood" in the csv file.  Add columns indf_hoods for: "library_open", "temporary_shelter", "day_center", "coord_reentry", "group_therapy", "showers", "meals", "food_box", "laundry", "health_services", "misc_services", " "number_of_locations" and "final_resource_calc".
For each "neighborhood" record in df_hoods, "number_of_locations" should be the count of all the records in df_start that match that neighborhood.  For each "neighborhood" record in df_hoods, set "final_resource_calc" to the sum of the "library_open", "temporary_shelter", "day_center", "coord_reentry", "group_therapy", "showers", "meals", "food_box", "laundry", "health_services", "misc_services" columns in df_start that match that neighborhood.  Does this make sense?

In [19]:
# import pandas as pd

# load our file:
base_dir = Path("C:/Users/Steph/local/OIT-class/project-files/datasets/processed")
df_start = pd.read_csv(base_dir / "211_Info_Data_latlong_hoods_all-csv.csv")

# Work on a copy and tidy column names
df_start = df_start.copy()
df_start.columns = df_start.columns.str.strip()

# Ensure neighborhood is present and usable
df_start = df_start.dropna(subset=["neighborhood"])
df_start["neighborhood"] = df_start["neighborhood"].astype("string").str.strip()

# Columns to aggregate
service_cols = [
    "temporary_shelter", "day_center", "coord_reentry", "group_therapy",
    "showers", "meals", "food_box", "laundry", "health_services", "misc_services"
]
agg_cols = ["library_open"] + service_cols

# If any expected column is missing, create it as zeros
for c in agg_cols:
    if c not in df_start.columns:
        df_start[c] = 0

# Coerce to numeric (0/1 etc.); treat non-numeric/NaN as 0
df_start[agg_cols] = (df_start[agg_cols]
    .apply(pd.to_numeric, errors="coerce")
    .fillna(0)
    .astype(int)
)

# Sums per neighborhood for those columns
sums_per_hood = df_start.groupby("neighborhood")[agg_cols].sum()

# Count of rows per neighborhood
counts_per_hood = df_start.groupby("neighborhood").size().rename("number_of_locations")

# Combine
df_hoods = sums_per_hood.join(counts_per_hood)

# final_resource_calc = sum of (library_open + the 10 service columns)
df_hoods["final_resource_calc"] = df_hoods[agg_cols].sum(axis=1)

# Make neighborhood a column and (optionally) sort
df_hoods = df_hoods.reset_index().sort_values(
    ["final_resource_calc", "neighborhood"], ascending=[False, True]
).reset_index(drop=True)

print(df_hoods.head())

          neighborhood  library_open  temporary_shelter  day_center  \
0           Montavilla             4                  0           2
1            Concordia             2                  0           1
2    Portland Downtown             3                  0           2
3  Powellhurst-Gilbert             3                  1           2
4             Old Town             3                  0           2

   coord_reentry  group_therapy  showers  meals  food_box  laundry  \
0              1              1        1      1         1        0
1              0              0        1      2         0        2
2              0              0        2      2         0        2
3              0              0        2      0         0        1
4              1              0        2      0         0        0

   health_services  misc_services  number_of_locations  final_resource_calc
0                1              2                    4                   14
1                2              2                    2                   12
2                0              0                    3                   11
3                0              2                    3                   11
4                0              2                    3                   10

In [23]:
# ok, let's save to .csv:
base_dir_save = Path("C:/Users/Steph/local/oit-class/project-files/datasets/processed")

# Ensure the directory exists (create it if it doesn't)
base_dir_save.mkdir(parents=True, exist_ok=True)

# Define the full output file path
output_file = base_dir_save / "resources_by_hood_calc-csv.csv"

# Save the DataFrame to CSV
df_hoods.to_csv(output_file, index=False)

print(f"File saved to: {output_file}")
print("This file has the count of each kind of resource per neighborhood...")
print("And it has the sum of all the resources per neighborhood...")
print("And the number of individual resource locations per neighborhood.")
print("It would be good to have someone else proofread this, but I think it is good.")

File saved to: C:\Users\Steph\local\oit-class\project-files\datasets\processed\resources_by_hood_calc-csv.csv
This file has the count of each kind of resource per neighborhood...
And it has the sum of all the resources per neighborhood...
And the number of individual resource locations per neighborhood.
It would be good to have someone else proofread this, but I think it is good.